// all style imports should be done here
@use './reset';
@use './mixins';
@use './typography';

@use './themes/dark';
@use './themes/light';

* {
  -webkit-tap-highlight-color: transparent; // Remove the blue highlight on focus
  outline: none; // Remove the default outline on focus
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100svh;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  // font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; // TODO: Check if this is needed without font-family in body
  -moz-osx-font-smoothing: grayscale; // TODO: Check if this is needed without font-family in body
  overflow: initial; // for scrollbar to be visible, even if there is z-index: -1 in the app
}

button:focus,
a:focus {
  // outline: 1px solid var(--primary-color-1);
  // outline: 2px dashed rgba(255, 165, 0, 0.7); /* Кастомна рамка для кнопок та лінків */
  // outline-offset: 4px; /* Відступ рамки для кращої видимості */
  // background-color: rgba(255, 165, 0, 0.1); /* Легке підсвічування */
  // border-radius: 4px; /* Згладжені кути */
}

// /* Інші елементи за потреби */
// input:focus {
//   border: 2px solid rgba(0, 123, 255, 0.7);
//   box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
// }
