node_modules
.next
.open-next
.vscode
.env
.env.*
!.env.*.example
dist/
coverage/
infrastructure/cdk.out/
infrastructure/sst/.sst/
infrastructure/sst/sst-env.d.ts
*.log
.DS_Store

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions