.container {
  position: relative;

  label {
    font-weight: 300;
    font-size: var(--font-size-sm);
    cursor: pointer;

    input {
      position: absolute;
      top: -4px;
      left: -55px;
      cursor: pointer;
      height: 0;
      width: 0;

      &::before {
        content: '';
        display: inline-block;
        background-color: var(--secondary-color-2);
        border: 1px solid var(--secondary-color-1);
        border-radius: 48px;
        width: 44px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}

.circle {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -50px;
  transition: all 0.3s;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--secondary-color-1);
}

.circleChecked {
  left: -32px;
  background-color: var(--accent-color-1);
}

.skeleton {
  border: 1px solid var(--secondary-color-1);
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: -3px;
  left: -54px;
  width: 44px;
  height: 24px;
  border-radius: 48px;
  background: linear-gradient(
    90deg,
    var(--secondary-color-1),
    var(--secondary-color-2),
    var(--secondary-color-1)
  );
  background-size: 200% 200%;
  background-position: 100% 50%;
  animation: skeleton 0.8s infinite linear;
}

@keyframes skeleton {
  0% {
    background-position: 150% 50%;
  }

  100% {
    background-position: -50% 50%;
  }
}
