@use '@/app/styles/mixins.scss' as *;

.circleLeft {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  position: absolute;
  animation: animation-left 2s forwards infinite;
  animation-timing-function: linear;
  top: calc(50% - 20px);
  left: calc(50% - 120px);
  visibility: hidden;
  @include for-tablet {
    animation: animation-left-phone 2s forwards infinite;
    animation-timing-function: linear;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 60px);
  }
}

.circleRight {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  position: absolute;
  animation: animation-right 2s forwards infinite;
  animation-timing-function: linear;
  top: calc(50% - 20px);
  left: calc(50% + 80px);
  visibility: hidden;
  transform: rotate(-180deg) translateX(100px);
  @include for-tablet {
    animation: animation-right-phone 2s forwards infinite;
    animation-timing-function: linear;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% + 40px);
  }
}

@keyframes animation-left {
  0% {
    transform: rotate(0deg) translateX(100px);
    visibility: visible;
  }

  50% {
    transform: rotate(360deg) translateX(100px);
    visibility: hidden;
  }

  100% {
    transform: rotate(360deg) translateX(100px);
    visibility: hidden;
  }
}

@keyframes animation-right {
  0% {
    transform: rotate(-180deg) translateX(100px);
    visibility: hidden;
  }

  50% {
    transform: rotate(180deg) translateX(100px);
    visibility: hidden;
  }

  100% {
    transform: rotate(-180deg) translateX(100px);
    visibility: visible;
  }
}

@keyframes animation-left-phone {
  0% {
    transform: rotate(0deg) translateX(50px);
    visibility: visible;
  }

  50% {
    transform: rotate(360deg) translateX(50px);
    visibility: hidden;
  }

  100% {
    transform: rotate(360deg) translateX(50px);
    visibility: hidden;
  }
}

@keyframes animation-right-phone {
  0% {
    transform: rotate(-180deg) translateX(50px);
    visibility: hidden;
  }

  50% {
    transform: rotate(180deg) translateX(50px);
    visibility: hidden;
  }

  100% {
    transform: rotate(-180deg) translateX(50px);
    visibility: visible;
  }
}
