.container {
  position: relative;

  label {
    font-weight: 300;
    font-size: var(--font-size-sm);
    cursor: pointer;

    input {
      position: absolute;
      top: -4px;
      left: -55px;
      cursor: pointer;
      height: 0;
      width: 0;

      &::before {
        content: '';
        display: inline-block;
        background-color: var(--secondary-color-2);
        border: 1px solid var(--secondary-color-1);
        border-radius: 48px;
        width: 44px;
        height: 24px;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}

.circle {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -50px;
  transition: all 0.3s;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--secondary-color-1);
}

.circleChecked {
  left: -32px;
  background-color: var(--accent-color-1);
}
