%cube {
  border-radius: 60px;
  background-color: var(--bg-color);
  filter: brightness(1.1);
  transform: rotate(-45deg);
}

.container {
  position: relative;
  padding: 0 55px;
  height: 100%;
}

.bgCoverContainer {
  // border: 1px solid red;
  min-height: 100svh;
  position: fixed;
}

.bgSwirlContainer {
  position: fixed;
  inset: 0;

  img {
    width: 100%;
    height: 100%;
    overflow: visible;
    object-fit: cover;
    object-position: center;
    animation: rotate-swirl 30s infinite linear;
  }
}

.bgCubesContainer {
  position: fixed;
  inset: 0;
}

.cubeOneContainer {
  position: absolute;
  top: 10px;
  right: 185px;
  animation: float-cube 10s infinite ease-in-out;
}

.cubeOne {
  @extend %cube;

  width: 260px;
  height: 260px;
  box-shadow: 11px -20px 40px 0 var(--shadow-color);
}

.cubeTwoContainer {
  position: absolute;
  bottom: 0;
  left: 150px;
  animation: float-cube 10s 1s infinite ease-in-out;
}

.cubeTwo {
  @extend %cube;

  width: 335px;
  height: 335px;
  box-shadow: 20px -15px 45px 0 var(--shadow-color);
}

.cubeThreeContainer {
  position: absolute;
  bottom: 100px;
  right: 180px;
  animation: float-cube 10s 3s infinite ease-in-out;
}

.cubeThree {
  @extend %cube;

  width: 335px;
  height: 335px;
  box-shadow: -20px 15px 45px 0 var(--shadow-color);
}

.themeSwitcherContainer {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 55px;
}

@keyframes rotate-swirl {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes float-cube {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-40px) rotate(25deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}
