@use '@/app/styles/mixins.scss' as *;

.container {
  position: relative;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.themeSwitcherContainer {
  position: fixed;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  right: 55px;

  @include for-small-desktop {
    right: 45px;
  }

  @include for-tablet {
    right: 35px;
  }

  @include for-tablet-portrait {
    right: 30px;
  }

  @include for-phone {
    top: auto;
    right: 20px;
    bottom: -20px;
  }
}

.contentContainer {
  // padding-top: 200px;
  min-height: 100svh;
  padding: 0 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: var(--font-monserrat);
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xxxl);
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    background: linear-gradient(
      75deg,
      #144ee3 0%,
      #eb568e 30%,
      #a353aa 60%,
      #144ee3 100%
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 4s infinite linear;
  }

  h3 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-weight: 300;
    color: var(--primary-color-1);
    text-align: center;
    max-width: 635px;
  }

  @include for-small-desktop {
    padding: 0 45px;
  }

  @include for-tablet {
    padding: 0 35px;

    h2 {
      font-size: var(--font-size-xxl);
      line-height: var(--line-height-xxl);
    }

    h3 {
      font-size: var(--font-size-md);
      line-height: var(--line-height-md);
    }
  }

  @include for-tablet-portrait {
    padding: 0 30px;

    h2 {
      max-width: 75%;
    }

    h3 {
      max-width: 450px;
    }
  }

  @include for-phone {
    padding: 0 20px;

    h2 {
      max-width: 100%;
      line-height: var(--line-height-xxxl);
      margin-bottom: 20px;
    }

    h3 {
      max-width: 100%;
      font-size: var(--font-size-sm);
      line-height: var(--line-height-sm);
    }
  }
}

.inputLinkWithAutoPasteContainer {
  margin-top: 46px;
  width: 100%;
}

.linksLeftContainer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: var(--text-color);
    font-weight: 300;
    font-size: var(--font-size-sm);
    text-align: center;

    span {
      color: var(--accent-color-2);
      font-weight: 700;
    }

    a {
      color: var(--text-color);
      font-weight: 700;
      text-decoration: underline;
    }
  }

  @include for-tablet {
    margin-top: 20px;

    p {
      font-size: var(--font-size-xs);
    }
  }

  @include for-tablet-portrait {
    p {
      max-width: 95%;
    }
  }

  @include for-phone {
    p {
      font-size: var(--font-size-xxs);
      max-width: 100%;
    }
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
