.container {
  position: relative;
  padding: 0 55px;
  min-height: 100svh;
  height: 100%;
}

.bgSwirlContainer {
  z-index: 0;
  position: fixed;
  inset: 0;
  background: url('/assets/svgs/swirl.svg') no-repeat center center fixed;
  animation: rotate-swirl 30s infinite linear;
}

.bgCubesContainer {
  z-index: 1;
  position: fixed;
  inset: 0;

  .cubeOneContainer {
    position: absolute;
    top: -120px;
    right: 155px;
    animation: float-cube 10s infinite ease-in-out;
  }

  .cubeTwoContainer {
    position: absolute;
    bottom: -80px;
    left: 50px;
    animation: float-cube 10s 1s infinite ease-in-out;
  }

  .cubeThreeContainer {
    position: absolute;
    bottom: 30px;
    right: 70px;
    animation: float-cube 10s 3s infinite ease-in-out;
  }
}

.btn {
  background: var(--gradient-color);
}

.themeSwitcherContainer {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 55px;
  z-index: 2;
}

@keyframes rotate-swirl {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes float-cube {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-40px) rotate(25deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}
