@use '@/app/styles/mixins' as *;

%button {
  font-family: var(--font-monserat);
  width: 100%;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xxxl);
  font-weight: 600;
  letter-spacing: 0.7px;
  border-radius: 48px;
  padding: 20px 24px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;

  // overflow: hidden;

  @include for-tablet {
    padding: 15px 18px;
  }

  @include for-phone {
    font-size: var(--font-size-xs);
  }

  // *cuz .iconRightContainer is absolute
  &:has(.iconRightContainer) {
    padding-right: 54px;

    @include for-tablet {
      padding-right: 52px;
    }
  }

  &:has(.iconLeftContainer) {
    padding-left: 54px;

    @include for-tablet {
      padding-left: 52px;
    }
  }

  // *animation on click
  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 0;
  //   height: 0;
  //   top: 50%;
  //   left: 50%;
  //   transform-style: flat;
  //   transform: translate3d(-50%, -50%, 0);
  //   background: rgba(#fff, 0.2);
  //   border-radius: 100%;
  //   transition:
  //     width 0.3s ease,
  //     height 0.3s ease;
  // }

  // *only for keyboard focus
  // &:focus-visible {
  //   &:after {
  //     width: 10px;
  //     height: 10px;
  //     scale: 1.5;
  //   }
  // }

  // &:active {
  //   &:after {
  //     width: 300px;
  //     height: 300px;
  //   }
  // }
}

.button {
  @extend %button;
}

.default {
  @extend %button;

  background-color: var(--secondary-color-2);
  border: 1px solid var(--secondary-color-1);

  &:hover {
    background-color: var(--secondary-color-1);
  }
}

.accent {
  @extend %button;

  color: var(--ligth-text-color);
  background-color: var(--accent-color-1);
  box-shadow: 10px 9px 22px var(--accent-color-1-transparent);

  svg {
    path {
      fill: var(--ligth-text-color);
    }
  }

  &:hover {
    background-color: var(--extra-color);
  }
}

.rounded {
  @extend %button;

  border-radius: 50%;
  padding: 20px;

  @include for-tablet-portrait {
    padding: 15px;
  }

  @include for-phone {
    padding: 12px;
  }
}

.circlesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  animation: circle 1.3s infinite linear;
}

.disabledDefault {
  @extend %button;

  cursor: not-allowed;
  background-color: var(--secondary-color-2-transparent);
  color: var(--text-color);

  &:hover {
    background-color: var(--secondary-color-2-transparent);
    color: var(--text-color);
  }
}

.disabledAccent {
  @extend %button;

  cursor: not-allowed;
  background-color: var(--accent-color-1-transparent);
  border: 1px solid var(--accent-color-1);
  color: var(--ligth-text-color);

  &:hover {
    background-color: var(--accent-color-1-transparent);
    color: var(--ligth-text-color);
  }
}

%icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.iconLeftContainer {
  @extend %icon-container;

  margin-right: 10px;
  left: 24px;
}

.iconRightContainer {
  @extend %icon-container;

  margin-left: 10px;
  right: 24px;
}

@keyframes circle {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.3);
  }

  66% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}
