@use '@/app/styles/mixins.scss' as *;

.container {
  background-color: var(--secondary-color-2);
  border: 1px solid var(--secondary-color-1);
  border-radius: 48px;
  padding: 7px 8px;
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--primary-color-1);
  }

  @include for-tablet {
    padding: 5px 6px;
  }

  @include for-phone {
    padding: 4px 5px;
  }
}

.langSwitcherBtn {
  display: flex;
  align-items: center;
}

.langContainer {
  background-color: var(--secondary-color-2);
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 48px;

  p {
    color: var(--text-color);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
  }

  @include for-tablet {
    padding: 6px 12px;
  }

  @include for-phone {
    p {
      display: none;
    }
  }
}

.langContainerActive {
  // transition: background-color 0.5s; // visible when ThemeSwitcher works
  background-color: var(--accent-color-1);

  p {
    color: var(--ligth-text-color);
    font-weight: 700;
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-right: 8px;
    width: 22px;
    height: 21px;
  }

  @include for-tablet {
    img {
      margin-right: 6px;
      width: 19px;
      height: 18px;
    }
  }

  @include for-phone {
    img {
      margin-right: 0;
    }
  }
}
