@use '@/app/styles/mixins.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.linkInputContainer {
  @include for-phone {
    width: 100%;
  }
}

.checkboxAutoPasteContainer {
  margin-top: 32px;

  @include for-tablet-portrait {
    margin-top: 24px;
  }

  @include for-phone {
    margin-top: 16px;
  }
}
