[data-theme='app_dark_theme'] {
  --bg-color: #0b101b;
  --text-color: #fff;
  --accent-color-1: #144ee3;
  --accent-color-2: #eb568e;
  --extra-color: #0b2fc1;
  --primary-color-1: #c9ced6;
  --secondary-color-1: #353c4a;
  --secondary-color-2: #181e29;
  --gradient-color: linear-gradient(
    75deg,
    #144ee3 0%,
    #eb568e 20%,
    #a353aa 60%,
    #144ee3 100%
  );
  --webkit-gradient-color: linear-gradient(
    75deg,
    #144ee3 0%,
    #eb568e 20%,
    #a353aa 60%,
    #144ee3 100%
  );
}
