[data-theme='app_light_theme'] {
  // --bg-color: #fffbf5;
  --bg-color: #c5d9e6;
  --text-color: #2b2b2b;
  --ligth-text-color: #fff;
  --accent-color-1: #36f;
  --accent-color-2: #ff6f91;
  --extra-color: #5581ff;
  --primary-color-1: #2b2b2b;
  --secondary-color-1: #d9e2eb;
  --secondary-color-2: #e0eaf7;
  --gradient-color: linear-gradient(
    75deg,
    #36f 0%,
    #ff6f91 20%,
    #b371c6 60%,
    #36f 100%
  );
  --webkit-gradient-color: linear-gradient(
    75deg,
    #36f 0%,
    #ff6f91 20%,
    #b371c6 60%,
    #36f 100%
  );
  --shadow-color: #bfd1e6;
}
